@import "lib/utilities.scss";
@import "lib/moments.scss";

// 
// Keep it clean in here. No more than three levels of indentation.

body {
  font-family: 'Inconsolata', Courier;
  @include antialias;
  padding: 30px;
}

.content {}

a {
  font-size: 24px;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
  color: black;
}